/* ini css  */
/* Style the header with a grey background and some padding */
.nav {
    display: flex;
    justify-content: space-between;
}

.header {
    border: 1px solid;
    display: flex;
}

.nav-container {
    border:1px solid;

}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
  color: crimson;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: rgba(255, 255, 255, 0.405);
  overflow: hidden;
  
}

.button1 {
  width: 170px;
  height: 65px;
  margin-right:20px;
  margin-top:10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: yellow;
  border-radius: 10%;
  outline: none;
  
}

.button2 {
  width: 170px;
  height: 65px;
  margin-right:20px;
  margin-top:10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: rgb(10, 209, 10);
  border-radius: 10%;
  outline: none;
  
}

.button3 {
  width: 170px;
  height: 65px;
  margin-right:20px;
  margin-top:10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: chocolate;
  border-radius: 10%;
  outline: none;
  
}

.button4 {
  width: 170px;
  height: 65px;
  margin-right:20px;
  margin-top:10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color:plum;
  border-radius: 10%;
  outline: none;
  
}

.button1:hover,.button2:hover,.button3:hover,.button4:hover {
  color:whitesmoke;
  background-color: coral;
  transition:cubic-bezier(0.39, 0.575, 0.565, 1);
}

.label-content {
  font-family:monospace;
  text-align: center;
  font-size: 30px;
  color: red;
  background-color: rgba(255, 228, 196, 0.451);
  margin-left: 35%;
}

body {
  background-image: url(/assets/bg_login\ \(edit\).png);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  border-radius: 20%;
}

.navbar-header{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 35px;
  opacity: 0.9;
}

.navbar-logo{
  height: 25px;
  width: 25px;
  margin-top: 0px;
}

.me-1{
  color: rgb(10, 10, 10);
  font-size: 20px;
  margin-top: 0;
  align-items: center;
  text-align: center;
  font-family:monospace;
}

.me-2{
  color:#83bb43;
  font-size: 20px;
  font-family: cursive;
}

#clock {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-left: 83%;
}

.footer-content{
  display:flex;
  justify-content: center;
  width: 100%;
  height: 15px;
  padding-left: 10px;
  line-height: 50px;
  position:absolute;
  bottom: 0px;
  font-size: 10px;
}

#GoMenu1-select {
  margin-left: 25px;
  height: 35px;
  width: 200px;
  border-radius: 10px 10px 10px 10px;
}

#copyright{
  width: 200px;
  height: 50px;
}